/Milestone1Exercises/target/
/ClassCodealongsAugust/target/
/Llama_Windows_Example/target/
/Milestone1Summative/target/
/ClassModeling/target/
/*/target
/LlamaMVC/nbproject/
/FirstTests/nbproject/
/Milestone3Basics/nbproject/
/FunctionalUnitTests_MilestoneIII/nbproject/
/Milestone4/nbproject/
/ClassRoster/nbproject/
/DaoTesting/nbproject/
/Java/VendingMachine/nbproject/