/Milestone1Exercises/target/
/ClassCodealongsAugust/target/
/Llama_Windows_Example/target/
/Milestone1Summative/target/
/ClassModeling/target/
/*/target
/LlamaMVC/nbproject/
/FirstTests/nbproject/
/Milestone3Basics/nbproject/
/FunctionalUnitTests_MilestoneIII/nbproject/
/Milestone4/nbproject/
/ClassRoster/nbproject/
/DaoTesting/nbproject/
/Java/VendingMachine/nbproject/
/Web Services/FactorizerJSPServlet/target/
/Web Services/FlooringCalculatorJSPServlet/target/
/Web Services/InterestCalcJSPServlet/target/
/Web Services/LuckySevensJSPServlet/target/
/Web Services/TipCalcJSPServlet/target/
/Web Services/HelloMVC/target/
/Web Services/FactorizorSpringMVC/target/
/Web Services/FlooringCalculatorSpringMVC/target/
/Web Services/BasicTomcatJSP/FactorizerJSPServlet/target/
/Web Services/BasicTomcatJSP/FlooringCalculatorJSPServlet/target/
/Web Services/BasicTomcatJSP/InterestCalcJSPServlet/target/
/Web Services/BasicTomcatJSP/LuckySevensJSPServlet/target/
/Web Services/BasicTomcatJSP/TipCalcJSPServlet/target/
/Web Services/SpringMVC/FactorizorSpringMVC/target/
/Web Services/SpringMVC/LuckySevensSpringMVC/target/