html, body {
    background-color: #000000;
    color: #eaeaea;
}

body {
    padding: 7%;
}

.flex-container {
    display: flex;
}

hr {
    width: 70%;
    background-color: #424242aa;
    text-align: left;
    margin-left: 0;
}