html, body {
    background-color: #000000;
    color: #eaeaea;
}

body {
    padding: 7%;
}

.flex-container {
    display: flex;
}

hr {
    width: 70%;
    background-color: #424242aa;
    text-align: left;
    margin-left: 0;
    margin-bottom: 5%;
}

#bruh {
    top: 0;
    left: 0;
    position: fixed;
    width: 5%;
    height: 5%;
}