@font-face {
    font-family: PetscopWide;
    src: url(../font/PetscopWide.ttf) format('truetype')
}

body, html {
    background-color: #000
}

html {
    padding: 5%
}

h1, h2, h3, h4, h5, h6, label, li, p {
    color: #efefef;
    font-family: PetscopWide, Arial, Helvetica, sans-serif;
    text-align: left
}

li, ul {
    padding-left: 2%;
    margin-left: 0
}

.title {
    font-size: 36pt;
    margin: 15px;
    margin-left: 0;
    margin-top: 32px
}

.subtitle {
    font-size: 12pt
}

hr {
    width: 75%;
    text-align: left;
    left: 0;
    margin-bottom: 20px
}

input, input[type=number] {
    height: 24pt;
    border-radius: 7px;
    border-color: rgba(0, 0, 0, 0)
}

input[type=submit] {
    margin-left: 20px;
    font-family: PetscopWide, Arial, Helvetica, sans-serif;
    color: #000;
    text-shadow: 1px 1px 5px #000;
}

a {
    margin-left: 20px;
    font-family: PetscopWide, Arial, Helvetica, sans-serif;
    color: #000;
    text-shadow: 1px 1px 5px #000;
    padding: 10px;
    border-radius: 10px;
}