.flex-container {
    display: flex;
}

.flex-container-centered {
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

body {
    background-color: #121212;
    color: #cccccc;
}

#headerDiv {
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #222222;
    box-shadow: 0px 5px 5px black;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

#contentBody {
    margin-top: 80px;
    z-index: 1;
}

#rightBar {
    width: 30%;
    background-color: #333333;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    padding-top: 80px;
    overflow: auto;
}

#foodStuffs {
    z-index: 2;
    flex-wrap: wrap;
}

button,
.btn,
.btn-default,
output {
    background-color: #555555;
    border-color: #333333;
    color: #cccccc;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0px;
    min-height: 16pt;
}



input[type="submit"] {
    background-color: #555555;
    border-color: #333333;
    color: #cccccc;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 0px;
}

#moneyButtonTable {
    border-width: 0px;
}

.item-box {
    min-width: 200px;
    height: 200px;
    border-color: #ffffff;
    border-width: 3px;
    margin: 20px;
    background-color: #3d3d3d;
    border-radius: 10px;
    padding: 20px;
}

.item-box:hover {
    background-color: #303030;
}